*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.head {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.main-header{
    padding-bottom: 10px;
    padding-top: 10px;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-header h1 {
    color: aliceblue;
}

.main-header .top-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.main-header .top-nav a{
    color: aliceblue; 
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;

}

.main-header .top-nav a:hover {
    color: #fe6f27; 
    font-weight: 700;
    font-size: larger;
    padding: 10px;
    text-align: center;
    margin: 2px 10px 10px 10px;
    text-decoration: none;
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 5px;
    border-color: #fe6f27;
    transition: all 0.3s ease;
}


/* Body Starts here */


.main-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 20px;
}



.content-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 20px;
}

.content-body .blog {
    max-width: 90%;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 95%;
    border-radius: 1em;
    border: dotted;
    border-color: #2f2f2f;
    margin: 20px;
    /* color: ; */
    background-color: #f8fbff;
}

.content-body .blog:hover {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 2em;
    border: dotted;
    border-color: #2f2f2f;
    background-color: #2f2f2f;
    color: aliceblue;
    width: 95%;
    margin: 20px;
    box-shadow: 10px 10px 10px  #636161;
    transition: all 1s ease;
}

.content-body .blog p{
    padding: 30px 20px 30px 20px;
    text-align: justify;
}

.content-body .blog a{
    padding: 10px;
    color: #2f2f2f;
    font-weight: 500;
    text-decoration: none;
    background-color: #f8fbff;
    border-color: #fe6f27;
    border-style: dashed;
    border-radius: 25px;
}

.content-body .blog a:hover {
    padding: 10px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-color: #fe6f27;
    border-color: #fe6f27;
    border-style: solid;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.6s ease;
}



/* Footer Starts here */

.foot {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main-footer{
    padding-bottom: 15px;
    padding-top: 15px;
    bottom: 0;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-footer h2 {
    font-size: 20px;
    color: aliceblue
}

.main-footer .footer-links {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    width: 70%;
}

.main-footer .footer-links a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: medium;
}

.main-footer p {
    padding: 10px 0px 0px 0px;
    font-size: small;
}