*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.head {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.main-header{
    padding-bottom: 10px;
    padding-top: 10px;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-header h1 {
    color: aliceblue;
}

.main-header .top-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.main-header .top-nav a{
    color: aliceblue; 
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;

}



/* Body starts here */

.content-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 30px;
    background-color: aliceblue;
}




.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.inner-intro {
    padding-left: 10px;
    text-align:center;
    width: 90%;
    padding: 30px 20px 30px 20px;
}

.inner-intro p {
    padding: 10px;
    text-align: center;
}

.content-body .deepJpg{
    max-width: 20%;
    max-height: 20%;
    border-radius: 20px;
    align-self: center;
    justify-content: center;
    border: solid;
    /* border-color: ; */
}

.content-body .intro{
    align-self: center;
    justify-content: center;
    padding-bottom: 10px;
}



.blogs-div a:hover {
    padding: 10px;
    /* color: #f3f4f6; */
    text-decoration: none;
    background-color: #7c3aed;
    background-color: aliceblue;
    border-color: #7c3aed;
    border-style: solid;
    border-radius: 20px;
    font-weight: 500;
}


.content-body .blogs-div {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0px 30px 0px;
    border-radius: 2em;
    border: dotted;
    border-color: #2f2f2f;
    background-color: #f3f4f6;
    width: 95%;
    margin: 10px 0 10px 0;
}

.content-body .blogs-div:hover {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 40px 0px;
    border-radius: 2em;
    border: dotted;
    border-color: #2f2f2f;
    background-color: #2f2f2f;
    color: aliceblue;
    width: 100%;
    margin: 10px 0 10px 0;
    box-shadow: 10px 10px 5px  #636161;
    transition: all .6s ease;
}

.blogs-div h2{
    padding: 0;
}

.content-body .blogs-div p{
    padding: 20px 10px 30px 10px;
}


.content-body .blogs-div a{
    padding: 10px;
    color: #2f2f2f;
    text-decoration: none;
    background-color: aliceblue;
    border-color: #fe6f27;
    border-style: dotted;
    border-radius: 20px;
    font-weight: 500;
    /* margin: 3%; */
}

.blogs-div a:hover {
    padding: 10px;
    /* color: #f3f4f6; */
    text-decoration: none;
    /* background-color: #7c3aed; */
    background-color: #fe6f27;
    border-color: #fe6f27;
    color: aliceblue;
    border-style: solid;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.4s ease;
}



/* Footer Starts here */

.foot {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main-footer{
    padding-bottom: 15px;
    padding-top: 15px;
    bottom: 0;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-footer h2 {
    font-size: 20px;
    color: aliceblue
}

.main-footer .footer-links {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    width: 70%;
}

.main-footer .footer-links a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: medium;
}

.main-footer p {
    padding: 10px 0px 0px 0px;
    font-size: small;
}