*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    /* font-size: large; */
}

p{
    font-size: large;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.head {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.main-header{
    padding-bottom: 10px;
    padding-top: 10px;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-header h1 {
    color: aliceblue;
}

.main-header .top-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.main-header .top-nav a{
    color: aliceblue; 
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;

}

.main-header .top-nav a:hover {
    color: #fe6f27; 
    font-weight: 700;
    font-size: larger;
    padding: 10px;
    text-align: center;
    margin: 2px 10px 10px 10px;
    text-decoration: none;
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 5px;
    border-color: #fe6f27;
    transition: all 0.3s ease;
}


/* Body Starts here  */


.main-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 30px;
}

.main-div h2{
    font-size: x-large;
}

.content-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 30px;
}

.project-btn-grp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-btn-grp a{
    /* padding: 10%; */
    margin: 10px;
}

.content-body .mark {
    max-width: 90%;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 95%;
    border-radius: 1em;
    border: dotted;
    border-color: #2f2f2f;
    margin: 20px;
    /* color: ; */
    background-color: #f8fbff;
}

.content-body .mark:hover {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 2em;
    border: dotted;
    border-color: #2f2f2f;
    background-color: #2f2f2f;
    color: aliceblue;
    width: 95%;
    margin: 20px;
    box-shadow: 10px 10px 10px  #636161;
    transition: all 1s ease;
}

.content-body .mark p{
    padding: 20px 0px 20px 0px;
    text-align: justify;
}

.content-body .mark a{
    padding: 10px;
    color: #fe6f27;
    font-weight: 500;
    text-decoration: none;
    background-color: #f8fbff;
    border-color: #fe6f27;
    border-style: dashed;
    border-radius: 25px;
}

.content-body .mark a:hover{
    padding: 10px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-color: #fe6f27;
    border-color: #fe6f27;
    border-style: solid;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.6s ease;
}

.content-body .mark .second-btn{
    padding: 10px;
    color: #7c3aed;
    text-decoration: none;
    background-color: #f8fbff;
    border-color: #7c3aed;
    border-style: dashed;
    border-radius: 25px;
}

.content-body .mark .second-btn:hover{
    padding: 10px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-color: #7c3aed;
    border-color: #7c3aed;
    border-style: solid;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.6s ease;
}


/* Footer Starts here */


.foot {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main-footer{
    padding-bottom: 15px;
    padding-top: 15px;
    bottom: 0;
    text-align: center;
    align-self: center;
    background-color: #2f2f2f;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: aliceblue;
    width: 95%;
}

.main-footer h2 {
    font-size: 20px;
    color: aliceblue
}

.main-footer .footer-links {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    width: 70%;
}

.main-footer .footer-links a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: medium;
}

.main-footer p {
    padding: 10px 0px 0px 0px;
    font-size: small;
}