*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
}

.main-header{
    padding-bottom: 1%;
    padding-top: 1%;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #7c3aed;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    color: aliceblue;
    width: 90%;
}

.main-header .top-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.main-header .top-nav a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1%;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;

}

.main-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 3%;
}

.content-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 3%;
}

.project-btn-grp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-btn-grp a{
    /* padding: 10%; */
    margin: 1%;
}

.content-body .mark01 {
    max-width: 70%;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 90%;
    border-radius: 1em;
    margin: 2%;
    /* color: ; */
    background-color: #f3f4f6;
}

.content-body .mark01 p{
    padding: 3%;
}

.content-body .mark01 a{
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    background-color: #7c3aed;
    border-style: solid;
    border-color: #7c3aed;
    border-radius: 2em;
}

.content-body .mark01 .second-btn{
    padding: 1%;
    color: #7c3aed;
    text-decoration: none;
    background-color: #f3f4f6;
    border-color: #7c3aed;
    border-style: dotted;
    border-radius: 2em;
}

.content-body .mark02 {
    max-width: 70%;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 90%;
    border-radius: 1em;
    margin: 2%;
    /* color: ; */
    background-color: #f3f4f6;
}

.content-body .mark02 p{
    padding: 3%;
}

.content-body .mark02 a{
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    background-color: #7c3aed;
    border-style: solid;
    border-color: #7c3aed;
    border-radius: 2em;
}

.content-body .mark02 .second-btn{
    padding: 1%;
    color: #7c3aed;
    text-decoration: none;
    background-color: #f3f4f6;
    border-color: #7c3aed;
    border-style: dotted;
    border-radius: 2em;
}





.footer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main-footer{
    padding-top: 1%;
    padding-bottom: 1%;
    /* position: fixed; */
    bottom: 0;
    
    /* position:relative; */
    text-align: center;
    align-self: center;
    background-color: #7c3aed;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: aliceblue;
    width: 90%;
}

.main-footer .footer-links {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding-top: 1%;
}

.main-footer .footer-links a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1%;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;

}